@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar{
  background-color: transparent;
}

.navbar.colorChange {
  background-color: #000000;
  border-bottom: 1px solid #a71211;
}
.wpaper{
  display: flex;
  color: #a71211;
  font-size: 1rem;
  padding: 0 1rem;
  align-items: center;
}
.introBg{
  max-width: 100%;
}
.heroForm .form-control{
  background-color: transparent!important;
  text-align: right;
  position: relative!important;
  right: -3px!important;
}
.heroForm .form-floating>label {
  position: absolute;
  top: 0;
  right: -3px!important;
  height: 100%;
  padding: 1rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .1s ease-in-out,transform .1s ease-in-out;
  color: white;
  left: auto;
  font-size: 14px;
}
.heroForm input#floatingInput {
  color: white;
}

.buytokens {
  padding: 10px 28px!important;
  width: 100%;
}
.img-coin {
  margin: 0px 10px;
  height: auto;
  position: absolute;
  width: 32px!important;
  top: 9px;
}
.form-floating>.form-control, .form-floating>.form-select {
  height: calc(3.1rem + 0px)!important;
  line-height: 1;
}
img.logo {
  position: absolute;
  width: 104px;
  margin-top: 48px;
}
@media screen and (max-width: 480px){
  .form-floating>.form-control, .form-floating>.form-select {
    height: calc(3.1rem + 5px)!important;
}
.firstInfoCol{
  margin-bottom: 20px;
}
img.logo {
  position: absolute;
  width: 80px;
  margin-top: 38px;
}
}
input#inp_bnb {
  color: white;
}
input#inp_iii {
  color: white;
}
.icoInfo h5{
  color: white;
}
.spanInfo{
  color: #a71211;
}
.btn-primary {
  color: #fff;
  background-color: #a71211!important;
  border-color: #a71211!important;
}
.progress-bar {
  background-color: #252525!important;
}
h1{font-family: 'Racing Sans One', cursive;}
button.connect {
  padding: 7px 28px;
  border: none;
  background: #a71211;
  color: white;
  border-radius: 5px;
}
.prog{
  max-width: 200px;}
  .progress-wrap.progress-wrap-point.prog {
    max-width: 483px;
}
.rowcont{
  max-width: 1300px;
}